APP_NAME=Huoke API
APP_ENV=development
APP_PORT=8000
ALLOWED_ORIGINS=http://localhost:4000
DATABASE_URL=postgresql://huoke:huoke@localhost:5432/huoke
REDIS_URL=redis://localhost:6379/0
JOINF_USERNAME=
JOINF_PASSWORD=
LINKEDIN_USERNAME=
LINKEDIN_PASSWORD=
